$first-color : #a4c639;
$seconde-color : rgb(248, 248, 248);
$white: white;
$font-family: 'Poppins', sans-serif;
@mixin button {
    border-radius: 30px;
    border: none;
    background-color: $first-color;
    color: $white;
    padding: 12px 30px;
    font-size: 13px;
    font-weight: 700;
    
}

*{
    box-sizing: border-box;
}

.services{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    
    font-family: 'Poppins', sans-serif;
    color: black;
    max-width: 86%;
    margin: 10% auto;}

.financial{
    
    text-align: center;
}
.financial h2{
    
    font-size: 40px;
    font-weight: 500;
    color: black;
}
em{
    color: $first-color;
    font-style: normal;
}
.boxs{
    display: flex;

    margin-top : 50px ;
    
        
    }
.items{
 
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
    
}
img{
    width: 100%;
}   

.underitems{
    background-color: $seconde-color;
    padding: 30px;
h3{
    margin-bottom: 15px;
    font-size: 20px;
	font-weight: 700;
	
}
p{
    font-size: 14px;
    color: #666666;
    line-height: 30px;
}
}
button{
    
    @include button()
    
    
}
.solutions{
    display: flex;
margin-top: 140px;
background-image: url(../images/fun-facts-bg.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
padding: 8%;
color: $white;


    
.textleft{
    width: 50%;
    min-height: 1px;
    margin-right: 30px;
    text-align: left;
  h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
  } 
} 
 
}
.textright{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 50%;
        gap: 30px;
        text-align: center;
        margin-left: 10% ;
        margin: right -8%; 

        .tbox{
            padding: 40px;
            
        background-color:#64646462;
        h3{
           
            color:$first-color;
            font-weight: 700;
            font-size: 36px;}
        h4{
            font-size: 20px;
            font-weight: 700;
        }    

    }
}


@media screen and (max-width:700px) {
    
    .boxs{
        display: flex;
        flex-direction: column;
        width: 100%;
        .items{
            padding-bottom: 10px;
            margin-bottom: 10px;
              }
        }
    


    .solutions{
        display: flex;
        flex-direction: column;
        padding: 5%;


   .textleft{
    
    width: 100%;
    
}
    .textright{
        margin-top: 50px;
        margin-left: 5%;
        
        width: 80% ;

     display: flex;
     flex-direction: column;
     
    }    
    }
} 
        
        
   

    
    









