* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all-div {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.all-div__title {
  line-height: 0em;
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.all-div__title span {
  color: #a4c639;
}

.all-div__contact {
  background-color: #a4c639;
  margin: 50px;
  padding: 25px;
  border-radius: 10px;
}

.all-div .form-control {
  border-radius: 53px;
  height: 40px;
  padding: 1px 21px;
  color: #6e6c6c;
  font-size: 13px;
  border: none;
  margin-top: 21px;
  width: 230px;
  margin-left: 15px;
}

.all-div .form-control1 {
  margin: 0px;
  width: 80%;
  height: 100px;
  border-radius: 8px;
  margin-top: 30px;
}

.all-div .button {
  border-radius: 30px;
  border: 2px solid white;
  background-color: #a4c639;
  color: white;
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.all-div__logo {
  background-color: #dfdfdf;
  padding: 30px;
  margin-top: 100px;
  margin-right: -15px;
  margin-left: -15px;
}

.all-div__logo img {
  margin-left: 90px;
}

.all-div__row {
  background-image: url(../images/fun-facts-bg.jpg);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  height: 80%;
  padding: 20px;
}

.all-div__row h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-bottom: 35px;
}

.all-div__row a {
  color: white;
  text-decoration: none;
}

.all-div__row--one {
  width: 300px;
  line-height: 2em;
  text-align: start;
}

.all-div__row--one--ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  text-align: center;
}

.all-div__row--one--ico--icon {
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-div__row--two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  line-height: 2em;
  text-align: start;
}

.all-div__row--three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  line-height: 2em;
  text-align: start;
}

.all-div__row--contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}

.all-div__row--contact-us .form-control {
  margin-bottom: -10px;
  background-color: #3f3e3e;
  color: white;
}

.all-div__row--contact-us .form-control2 {
  background-color: #3f3e3e;
  color: white;
  border-radius: 12px;
  border: 1px solid black;
  width: 263px;
  height: 74px;
  margin-left: 16px;
  margin-top: 21px;
}

.all-div__row--contact-us .button2 {
  background-color: #a4c639;
  color: white;
  padding: 10px 28px;
  border-radius: 30px;
  margin: 25px;
  border: 1px solid black;
  width: 150px;
}

.all-div__footer {
  background-color: #343434;
  color: white;
  text-align: center;
  padding: 25px 0px;
  margin-right: -15px;
  margin-left: -15px;
}

.all-div__footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 700px) {
  .all-div__logo :nth-child(1), .all-div__logo :nth-child(2), .all-div__logo :nth-child(4) {
    display: none;
  }
  .all-div__logo img {
    width: 40%;
    height: 80px;
    margin-right: 100px;
  }
  .all-div__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
/*# sourceMappingURL=main.css.map */